<template>
  <div :style="{
    paddingLeft: indent,
    paddingRight: endIndent,
    paddingTop: verticalPadding,
    paddingBottom: verticalPadding
  }">
    <hr :color="color" :size="width"/>
  </div>
</template>

<script>
export default {
  name: 'Divider',
  props: {
    color: {
      type: String,
      default: '#eeeeee'
    },
    width: {
      type: Number,
      default: 1
    },
    indent: {
      type: String,
      default: '0'
    },
    endIndent: {
      type: String,
      default: '0'
    },
    verticalPadding: String
  }
}
</script>

<style scoped lang="less">
hr {
  margin-block-start: 0;
  margin-block-end: 0;
}
</style>
