<template>
  <item title="项目截图">
    <sub-item title="微图" sub-title="android ios">
      <div class="img-list" ref="imgList">
        <div
            class="my-img"
            v-for="(item, index) in colors"
            :key="item"
            :style="{
              background: item
            }"
        >
          {{ index }}
        </div>
      </div>
    </sub-item>
  </item>
</template>

<script>
import Item from '@/components/Item'
import SubItem from '@/components/SubItem'

export default {
  name: 'ProjectPhoto',
  components: {
    SubItem,
    Item
  },
  data: () => {
    return {
      colors: [
        '#f6028b',
        '#ff0000',
        '#9dff00',
        '#e8d735',
        '#78250f',
        '#06ee9d',
        '#2c88ce',
        '#2c67ce',
        '#652cce',
        '#b02cce'
      ]
    }
  },
  mounted () {
    // requestAnimationFrame(this.scroll)
  },
  methods: {
    scroll () {
      const list = this.$refs.imgList
      list.scrollLeft += 1
      requestAnimationFrame(this.scroll)
    }
  }
}
</script>

<style scoped lang="less">
//.img-list::-webkit-scrollbar {
//  display: none;
//}

.img-list {
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

.my-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 100px;
}
</style>
