<template>
  <div>
    <item title="个人介绍">
      <p>熟练使⽤ VUE 套件、Flutter 开发项⽬。熟悉 android App 开发。了解并使用过 React、Python、PHP、Java 进行项目开发。</p>
    </item>
  </div>
</template>

<script>
import Item from './Item'

export default {
  name: 'SelfIntroduction',
  components: {
    Item
  }
}
</script>
