<template>
  <item title="工作经历">
    <sub-item title="上海精灵天下重庆分公司" sub-title="前端工程师" company="2020/03 ~ 今天">
      <div>
        <div class="label-content">
          <p>工作内容：</p>
          <div>
            <p>根据UI设计图及产品原型设计图用 Flutter 写出 APP 并编译成 Android app 和 IOS app。</p>
            <p>维护修改公司老项目 bug，基本都是 h5 前端。</p>
            <p>根据设计图写 H5 分享页面。</p>
            <p>带新人。</p>
          </div>
        </div>
        <div class="label-content">
          <p>个人业绩：</p>
          <div>
            <p>使用 Gitlab-CI 搭建自动构建部署服务，提高工作效率。</p>
            <p>搭建内网穿透服务，使内网测试服务器可在外网随时访问。可随时随地打开测试。</p>
          </div>
        </div>
      </div>
    </sub-item>

    <sub-item title="重庆蜂效科技集团有限公司" sub-title="web前端工程师" company="2019/05 ~ 2020/01">
      <div>
        <div class="label-content">
          <p>工作内容：</p>
          <div>
            <p>负责蜂集市电商平台微信公众号H5前端开发以及蜂集市后台管理前端开发。</p>
          </div>
        </div>
      </div>
    </sub-item>

    <sub-item title="重庆攻玉网络科技有限公司" sub-title="前端工程师|后端工程师" company="2017/11 ~ 2019/05">
      <div>
        <div class="label-content">
          <p>工作内容：</p>
          <div>
            <p>根据需求编写 Web 前端代码并优化。</p>
            <p>写移动端的活动 Web 页⾯。</p>
            <p>参与设计编写后台管理前端页⾯。</p>
            <p>参与设计编写 Android APP。</p>
            <p>将 Android APP 重构为 Flutter App。</p>
            <p>根据需求使用 php 或者 Python 编写后台 API 接口。</p>
          </div>
        </div>
        <div class="label-content">
          <p>个人业绩：</p>
          <div>
            <p>两个⽉⼀个⼈将 Android 应⽤重构为 Flutter 应⽤</p>
            <p>独⽴设计并开发配送端 APP</p>
          </div>
        </div>
      </div>
    </sub-item>
  </item>
</template>

<script>
import SubItem from './SubItem'
import Item from './Item'

export default {
  name: 'WorkHistory',
  components: {
    SubItem,
    Item
  }
}
</script>

<style scoped lang="less">
@import "../common";
</style>
