@padding: 8px;
@padding2x: 16px;
@padding4x: 32px;

body {
  font-size: 14px;
  line-height: 1.6;
  color: #222222;
}

.caption {
  font-size: 12px;
  color: #999999;
}

.body-1 {
  font-size: 14px;
  line-height: 1.6;
  color: #222222;
}

.body-2 {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
}


.sub-headline {
  font-size: 16px;
  color: #222222;
  line-height: 1.8;
}

.title {
  font-size: 21px;
  font-weight: bold;
  line-height: 2;
  color: #222222;
}

.headline {
  font-size: 24px;
  color: #222222;
}

.display1{
  font-size: 34px;
  color: #767676;
  letter-spacing: 4px;
}

.display2 {
  font-size: 45px;
  color: #767676;
}

a {
  color: #999999;
  text-decoration: none;
  @media print{
    &{
      color: #222222;
    }
  }
}

p {
  margin: 8px 0;
}

.label-content {
  display: flex;
  p {
    flex-shrink: 0;
  }
}

// 当为打印模式时，该类隐藏
.print-hide {
  @media print {
    & {
      display: none;
    }
  }
}

// 仅在打印模式下显示
.only-print-show {
  display: none;
  @media print{
    &{
      display: block;
    }
  }
}